

Using the datasets; List_of_local_governments_in_Nigeria.csv and Nigeria_povertyrate_per_local_gov.csv
    1. Merge the dataset together to form a single table.
    2. Remove any redundant columns.
    3. Calculate how population affects poverty rate of each local government.
    4. Arrange each local government according to the order of their poverty rate.
    5. Find the percentage of poverty and sort in ascending order.

In [1]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

In [5]:
LG = pd.read_csv('C:\\Python class\\Datascience\\Datasets\\Nigeria data\\list_of_local_government_areas_of_nigeria.csv')
pv_rate = pd.read_csv('C:\\Python class\\Datascience\\Datasets\\Nigeria data\\Nigeria povertyrate per local gov.csv')

In [6]:
LG.head()

  SNo Local Government Area            State  Unnamed: 3
0   1                Abadam      Borno State         NaN
1   2                 Abaji              FCT         NaN
2   3                  Abak  Akwa Ibom State         NaN
3   4             Abakaliki     Ebonyi State         NaN
4   5             Aba North       Abia State         NaN

In [7]:
pv_rate.head()

,ID_0,ISO,NAME_0,ID_12,NAME_12,ID_23,NAME_23,2014_Popul,Poverty_Ra,2014_Pover,Unnamed: 10
0,163,NGA,Nigeria,1,Abia,1,Aba North,257689,0.017378,9661,NaN
1,163,NGA,Nigeria,1,Abia,2,Aba South,405791,0.094480,16070,NaN
2,163,NGA,Nigeria,1,Abia,3,Arochukw,193250,0.175241,40022,NaN
3,163,NGA,Nigeria,1,Abia,4,Bende,244399,0.129469,39410,NaN
4,163,NGA,Nigeria,1,Abia,5,Ikwuano,139157,0.111351,12145,NaN

In [10]:
pv_rate=pv_rate.sort_values(by="NAME_23")
LG = LG.sort_values(by= "Local Government Area")
print(pv_rate)
print(LG)

     ID_0  ISO   NAME_0  ID_12                    NAME_12  ID_23    NAME_23  \
0     163  NGA  Nigeria      1                       Abia      1  Aba North
1     163  NGA  Nigeria      1                       Abia      2  Aba South
141   163  NGA  Nigeria      8                      Borno    142     Abadam
275   163  NGA  Nigeria     15  Federal Capital Territory    276      Abaji
38    163  NGA  Nigeria      3                  Akwa Ibom     39       Abak
..    ...  ...      ...    ...                        ...    ...        ...
367   163  NGA  Nigeria     19                     Kaduna    368   ZangonKa
368   163  NGA  Nigeria     19                     Kaduna    369      Zaria
742   163  NGA  Nigeria     35                     Taraba    743       Zing
774   163  NGA  Nigeria     38                    Zamfara    775      Zurmi
467   163  NGA  Nigeria     22                      Kebbi    468       Zuru

     2014_Popul  Poverty_Ra  2014_Pover  Unnamed: 10
0        257689    0.017378        9661          NaN
1        405791    0.094480       16070          NaN
141       83113    0.396480       31093          NaN
275       60985    0.243414       14320          NaN
38       153585    0.227546       33179          NaN
..          ...         ...         ...          ...
367      474953    0.387887      155971          NaN
368      448419    0.122632       21111          NaN
742      113311    0.494821       56127          NaN
774      291140    0.486278      144487          NaN
467      159716    0.362035       51528          NaN

[775 rows x 11 columns]
                                                   SNo Local Government Area  \
4                                                    5             Aba North
5                                                    6             Aba South
0                                                    1                Abadam
1                                                    2                 Abaji
2                                                    3                  Abak
..                                                 ...                   ...
771                                                772                  Zing
772                                                773                 Zurmi
773                                                774                  Zuru
774                                                NaN                   NaN
775  For more information, kindly visit :  www.down...                   NaN

               State  Unnamed: 3
4         Abia State         NaN
5         Abia State         NaN
0        Borno State         NaN
1                FCT         NaN
2    Akwa Ibom State         NaN
..               ...         ...
771     Taraba State         NaN
772    Zamfara State         NaN
773      Kebbi State         NaN
774              NaN         NaN
775              NaN         NaN

[776 rows x 4 columns]

In [19]:
merge=pd.merge(data, pr, left_on='Local Government Area', right_on='NAME_23')
merge.head()

,SNo,Local Government Area,State,Unnamed: 3,ID_0,ISO,NAME_0,ID_12,NAME_12,ID_23,NAME_23,2014_Popul,Poverty_Ra,2014_Pover,Unnamed: 10
0,5,Aba North,Abia State,NaN,163,NGA,Nigeria,1,Abia,1,Aba North,257689,0.017378,9661,NaN
1,6,Aba South,Abia State,NaN,163,NGA,Nigeria,1,Abia,2,Aba South,405791,0.094480,16070,NaN
2,1,Abadam,Borno State,NaN,163,NGA,Nigeria,8,Borno,142,Abadam,83113,0.396480,31093,NaN
3,2,Abaji,FCT,NaN,163,NGA,Nigeria,15,Federal Capital Territory,276,Abaji,60985,0.243414,14320,NaN
4,3,Abak,Akwa Ibom State,NaN,163,NGA,Nigeria,3,Akwa Ibom,39,Abak,153585,0.227546,33179,NaN

In [20]:
merge.isnull().any()

SNo                      False
Local Government Area    False
State                    False
Unnamed: 3                True
ID_0                     False
ISO                      False
NAME_0                   False
ID_12                    False
NAME_12                  False
ID_23                    False
NAME_23                  False
2014_Popul               False
Poverty_Ra               False
2014_Pover               False
Unnamed: 10               True
dtype: bool

In [21]:
merge_new = merge.drop(labels=['NAME_23', 'Unnamed: 3',  'Unnamed: 10', 'NAME_12', 'NAME_0', 'ISO', 'ID_0', 'SNo', 'ID_23', 'ID_12'], axis=1)
merge_new.head()

  Local Government Area            State  2014_Popul  Poverty_Ra  2014_Pover
0             Aba North       Abia State      257689    0.017378        9661
1             Aba South       Abia State      405791    0.094480       16070
2                Abadam      Borno State       83113    0.396480       31093
3                 Abaji              FCT       60985    0.243414       14320
4                  Abak  Akwa Ibom State      153585    0.227546       33179

In [25]:
# merge['SNo'] = np.arange(1, merge['SNo'].count()+1)
# merge = merge.reindex(merge['SNo'])
# merge

In [22]:
# new_data= merge.set_index('Local Government Area', inplace=True)
# poverty= merge['Poverty_Ra']/1
# poverty.sort_values(ascending=True, inplace=True)
# poverty
merge_new.sort_values(by='Poverty_Ra', ascending=True)

    Local Government Area         State  2014_Popul  Poverty_Ra  2014_Pover
158                 Fagge    Kano State      859163    0.004566        4250
524          Sokoto North  Sokoto State      246991    0.009919        1496
567                 Uvwie   Delta State      289312    0.016641        4621
0               Aba North    Abia State      257689    0.017378        9661
76                   Bida   Niger State      240860    0.018769        5264
..                    ...           ...         ...         ...         ...
438              Ohaozara  Ebonyi State      167245    0.842780      140108
156            Ezza North  Ebonyi State      158054    0.844616      131690
439               Ohaukwu  Ebonyi State      253736    0.862090      220785
157            Ezza South  Ebonyi State      168892    0.903956      151608
245                  Ikwo  Ebonyi State      215257    0.914384      197512

[595 rows x 5 columns]

In [23]:
pover = merge['2014_Pover']
total=pover.sum()
percentage = pover/total*100
merge_new['percent'] = percentage
# percentage.sort_values(ascending=True, inplace=True)
# percentage
merge_new.sort_values(by='percent', ascending=True)

,Local Government Area,State,2014_Popul,Poverty_Ra,2014_Pover,percent
182,Gombe,Gombe State,1998,0.064751,86,0.000224
459,Onitsha South,Anambra State,12742,0.051663,583,0.001519
525,Sokoto South,Sokoto State,62355,0.030574,1052,0.002740
270,Isokan,Osun State,10070,0.114867,1068,0.002782
524,Sokoto North,Sokoto State,246991,0.009919,1496,0.003897
...,...,...,...,...,...,...
119,Demsa,Adamawa State,451803,0.664365,226943,0.591171
373,Maru,Zamfara State,449533,0.502184,227452,0.592497
544,Toro,Bauchi State,452403,0.518579,234115,0.609853
404,Ningi,Bauchi State,514395,0.465733,237526,0.618739
194,Gusau,Zamfara State,632738,0.507022,238909,0.622341

In [1]:
# plt.plot(merge_new, merge_new);

In [2]:
%matplotlib inline
import matplotlib.pyplot as plt 
# plt.style.use('seaborn-whitegrid')
# fig = plt.figure()
# new_merge = plt.axes()
# plt.plot(merge_new, merge_new)
# plt.show()
# x = np.linspace(0, 2, 100)
# plt.plot(x, x, label='linear')
# plt.plot(x, x**2, label='quadratic')
# plt.plot(x, x**3, label='cubic')
# plt.xlabel('x Axes')
# plt.ylabel('y Axes')
# plt.title("Simple Plot")
# plt.legend();